@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

.home-title,
.home-text {
    text-align: center;
    font-weight: 700;
    /* font-style: normal; */
    font-size: larger;
    margin-top: 5%;
    line-height: 1.15;
    letter-spacing: -.02em;
    color: rgba(0, 0, 0, 0.8);
    -webkit-font-smoothing: antialiased;
}

.home-title {
    margin-bottom: 2%;
}

/* html, body {
    font-family: 'Quicksand', sans-serif;
    background-color: #fafafa;
} */

* {
    font-family: 'Quicksand', sans-serif;
}

html, body {
    background-color: #f9f9fa;
    /* border: 0.5px solid #000000; */
}
